@import url('https://fonts.googleapis.com/css?family=Pridi:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,700');
/*
font-family: 'Pridi', serif;
font-family: 'Work Sans', sans-serif;
*/
@import url("font-awesome.min.css");

html, body {
	height: 100%;
}
/* body {
    font-size: 14px;
    background-color: #fff;
    color: #212121;
    line-height: 1.4;
    font-family: 'Work Sans', sans-serif;
    background-color: #01132d;
} */

a {
	color: #1157a6;
	text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
a:hover, a:focus {
	text-decoration: none;
	transition: all 0.20s linear 0s;
	color: inherit;
}
a:focus {
	outline: none;
}
a img {
	border: 0;
}
img{
	max-width: 100%;
}
button:focus{
    outline: 0;
}
ul, ol{
	margin: 0;
	padding: 0;
	list-style: none;
}
h1, h2, h3, h4, h5, h5 {
	color: #334a63;
	font-family: 'Pridi', serif;
	margin: 0;
    font-weight: 600;
}
p {
	color: #4b4b4b;
	font-family: 'Work Sans', sans-serif;
    font-weight: 400;
	margin: 0;
}
.trans{
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/*-------------------------START COMMON CSS ----------------------------*/

/*-------------------------END COMMON CSS ----------------------------*/
/*-------------------------HEADER START----------------------------*/
.header-wrapper{
    background-color: #2a4370;
}
.imba-text{
    font-size: 60px; 
    font-weight: 500;
    color: #fff;
    font-family: 'Pridi', serif;
    line-height: 51px;
}
.hdr-row{
     display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 15px 8px;
    min-height: 94px; 
}
.hdr-col-1{
   display: flex;
   align-items: flex-end; 
}
.nav-menu{}
.nav-menu li{
    margin-left: 20px;
    display: inline-block;
    text-transform: capitalize;
}
.nav-menu li a{ 
    font-size: 16px; 
    font-weight: 300;
    color: #fff;
    font-family: 'Pridi', serif;
}
.nav-menu li a:hover,
.nav-menu li.active a{
    color: #fd0303; 
}


/*-------------------------HEADER END------------------------------*/
/*-------------------------CONTENT START---------------------------*/
.main-container{
    min-width: 1270px;
    max-width: 1600px;
    width: 100%;
    margin: auto;
    padding-right: 15px;
    padding-left: 15px;
}
.bdy-row{
    display: flex;
}
.bdy-col-1{
    width: 14%;
    background-color: #01132d;
    padding: 0 6px;
}
.bdy-col-2{
    width: 78%;
    background-color:#01132d;
}
.bdy-col-3{
    width: 8%;
    background-color: #01132d;
    padding: 8px;
}
.pl-row{
   display: flex; 
   margin: 0 -6px;
}
.pl-col-1{
    width: 20%;
    padding: 6px;
}
.pl-col-2{
     width: 38%;
     padding: 6px;
}
.pl-col-3{
     width: 22%;
     padding: 6px;
}

.filterButtonBase{ background-color: #081b3d; width: 104%; display: inline-block;}
.faStar, .tbLinkButton{    
    float: left;
     padding: 5px;
    border: none;
    background-color: transparent;
    margin: 4px 0 3px 0;
    color: #fff;}
.tbLinkButton{ text-transform: uppercase; font-size: 14px;}
.tbLinkButton:hover, .tbLinkButton.active{ border-bottom: 2px solid #5690ed; color: #5690ed;}
.tbFilter input[type=text]{ margin: 0; width: 100%; color: #fff; border: 1px solid #5572a9; padding: 5px 20px; background: #0d2144 url("../images/srch.png") 6px center no-repeat; font-size: 13px;}
.custSelectBg{
    display: flex;
    margin: 10px 0;
    justify-content: space-between;
    align-items: center;
}
.custSelectBg button{ 
    border: none;
    background-color: transparent;
    color: #a4b4c5;
    font-size: 9px;
    padding: 0;
}
.custSelectBg button .fa{ margin-left: 4px;}
.tbFilter table{width: 100%;}
.tbFilter table td button{margin: 0 5px 0 0; padding: 0; color: #364f7a;}
.tbFilter table td{ font-size: 12px; color: #fff; text-transform: uppercase; padding: 4px 0;}
.tbFilter table td:last-child{text-align: right;}
.percentBg{width: 100%; display: inline-block; text-align: right; color: #c42e2e;}
.tbFilter table tr{ border-bottom: 1px solid #364f7a;}
.tbFilter table tr:hover{background-color: #1a315a;}
.tradEtails{ background-color: #081b3d; padding: 5px;}
.tradEtails .fa{color: #fff; margin: 0 10px;}
.tradEtails table{ display: inline-table;}
.tradEtails table tr td, .tradEtails table tr th{ padding: 3px; vertical-align: top; color: #ccc; font-weight: normal; font-size: 12px;}
.colorgreen{ color: #24977b!important;}
.colororange{ color: #c42e2e!important;}
.tradSBtn{}
.contTabbg{ margin-bottom: 50px;}
.contTabbg table{width: 100%;}
.contTabbg table tr th{ padding: 5px 10px; color: #ccc; font-size: 12px; font-weight: normal;}
.contTabbg table tr td{ padding: 5px 10px; color: #ccc; font-size: 12px; font-weight: normal;}
.contTabUlbg{ width: 100%; display: inline-block; background-color: #081b3d;}
.contTabUlbg ul{ width: auto;}
.showall{float: right; margin: 15px 10px;}
.showall:hover{color: #c42e2e;}
.hideOther{ float: right; margin: 13px; color: #ccc; font-size: 13px;}
.hideOther input{ position: relative; top: 3px;}





.tradingTab{border-bottom: 0!important; background-color: #081b3d;}
.tradingTab li a{ border: 0; color: #fff; border-radius:0; padding-top: 13px; padding-bottom: 13px;}
.tradingTab li.active a, .tradingTab li a:hover{ background-color: transparent!important; border-left: 0!important; border-right: 0!important; border-top: 0!important; border-bottom: 2px solid #5690ed!important; color: #5690ed!important;}
.mtbBg tr td, .mtbBg tr th{ padding: 3px!important;}
.mtbBg button{margin: 0 5PX 0 0; padding: 0; color: #364f7a;}
.mtbBg tr td:first-child{ display: inline-flex;}
.tbFilter .dataTables_length, .tbFilter .dataTables_info, .tbFilter .dataTables_paginate{display: none;}
.tbFilter .dataTables_filter label{ color: transparent;}
.tbFilter .dataTables_filter input[type=search]{ position: relative; margin: 0; width: 100%; color: #7c888b; border: 1px solid #5572a9; padding: 3px; background-color: #0d2144;}







.scroll-Y{
    overflow-y: auto;
}
.height200{
    height: 200px;
}
.height100{
    height: 170px;
}
.height500{
     height: 400px; 
}
.height800{
    height: 770px;
}

.scroll-Y::-webkit-scrollbar-track{
	border-radius: 10px;
	background-color: #02112b;
}

.scroll-Y::-webkit-scrollbar{
	width: 6px;
	background-color: #02112b;
}

.scroll-Y::-webkit-scrollbar-thumb{
	border-radius: 10px;
	background-color: #0c2b53;
}
.orderBkBg{display: inline-block; width: 100%;}
.orderBklft{float: left; width: 22%; }
.orderBkrgt{float: left; width: 22%; }
.orderBkcentr{float: left; width: 56%;}
.ordBkHdn{ background-color: #081b3d; padding: 5px; font-size: 14px; line-height: 31px; color: #fff;}


.ordPrice{width: 100%; display: inline-block;}
.ordPrice table{width: 100%;}
.ordPrice table tr th{ background-color: #02112c; padding: 5px; font-size: 8px; line-height: 20px; color: #6385ab; word-break: break-all; width: 33.3%; vertical-align: top; text-align: right;}
.ordPrice table tr td{ padding: 2px 5px; word-break: break-all; width: 33.3%; vertical-align: top; font-size: 10px; text-align: right;}
.ordPrice table tr td{ color: #fff;}
.ordPrice table tr td:first-child{ color: #c42e2e; text-align: left;}
.ordPriceB table tr td:first-child{ color: #24977b;}
.univerColor{ color: #d0864b!important;}
.ordPrice table tr th:first-child{text-align: left;}
.hdr-orprice {
    display: flex;
    justify-content: space-between;;
    align-items: center;
}
.hdr-orprice .txt-or{background-color: #02112c; padding: 5px; font-size: 9px; line-height: 20px; color: #6385ab; word-break: break-all; width: 33.3%; text-align: right;}
.hdr-orprice .txt-or:first-child{text-align: left;}


.ordFlash{width: 100%; display: inline-block; background-color: #081b3d; text-align: center; font-size: 14px; padding: 6px 3px;}
.ordPing{color: #c42e2e; padding: 0 10px;}
.ordArrow{color: #c42e2e;}
.ordLast1{color: #487aa3; padding: 0 10px;}

.pl-tp-hd{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.clr-1{color: #24977b;}
.clr-2{color: #c42e2e;}

.bp-txt{
   font-size: 14px;
}
.btc-txt{
    color: #c9c2cc;
    font-size: 11px;
}
.inner-addon{
    display: flex;
    align-items: center;
    border:1px solid #29426e;
    background-color: #11264d;
    border-radius: 3px;
}
.inner-addon .form-control{
    background-color: transparent;
    font-size: 13px;
    border: 0;
    padding-left: 8px;
    box-shadow: none;
}
.pl-txtprice {
    font-size: 12px;
    padding: 5px 8px;
    color: #fff;
    background-color: #2a4370;
    border-radius: 3px;
}
.pbtc-txt{
    padding: 5px 8px;
    border:1px solid #29426e;
    background-color: #11264d;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.prce-txt1{
    color: #598198;
    font-size: 13px;
}
.btc-txt2{font-size: 14px; color: #fff; margin-right: 8px;}
.mrt20{margin-top: 10px;}
.pl-btncmn{
    font-size: 14px;
    padding: 8px 10px;
    color: #fff;
    border-radius: 3px;
    display: block;
    text-align: center;
    font-weight: 500;
}
.bgcm1{ background-color: #55ad82;}
.bgcm2{ background-color: #c42e2e;}

.stepwizard-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: calc(100% - 24px);
}
.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}
.stepwizard-row:before {
    top: 5px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #224072;
}
.stepwizard-step{
    text-align: center;
}
.stepwizard-step p{
    font-size: 10px;
    color: #fff;
    margin-top: 5px;
}
.stepwizard-step:last-child{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}
.stepwizard-step:first-child .btn-circle{
    margin: 0;
}
.stepwizard-step:last-child .btn-circle{
    float: right;
    margin: 0;
}
.btn-circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #224072;
    display: block;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}
.btn-circle.active{
   background-color: #55ad82 !important; 
    -webkit-box-shadow: 0px 0px 0px 4px rgba(245,245,245,0.4);
-moz-box-shadow: 0px 0px 0px 4px rgba(245,245,245,0.4);
box-shadow: 0px 0px 0px 4px rgba(245,245,245,0.4);
}
.btn-circle.active2{
   background-color: #c42e2e !important; 
    -webkit-box-shadow: 0px 0px 0px 4px rgba(245,245,245,0.4);
-moz-box-shadow: 0px 0px 0px 4px rgba(245,245,245,0.4);
box-shadow: 0px 0px 0px 4px rgba(245,245,245,0.4);
}
.txt-amnt span{
    color: #598198;
    font-size: 11px;
}
.txt-amnt{
    color: #fff;
    font-size: 12px;
    margin-top: 5px;
}
.po-realative{position: relative;}
.btnEdit{position: absolute; right: 0; top: 0; font-size: 14px; color: #224072;}
.borright{
    border-left: 1px solid #071f49;
}
.add-3height img{
    height: 242px;
}
#stickThis.stick {
    margin-top: 0;
    position: fixed;
    top: 0;
    z-index: 9999;
   right: 0;
}

/*-------------------------CONTENT END---------------------------*/
/*-------------------------FOOTER START----------------------------*/
.footer-wrapper{
   min-height: 100px;
   background-color: #2a4370;
}
/*-------------------------FOOTER END------------------------------*/
/*-------------------------DEPOSIT START------------------------------*/
.header-title h4{
    font-size: 32px;
    margin:15px 8px;
    font-weight: 500;
}
.inner-bg{background-color: #f7f7f7;}
.dpt-row{
    display: flex;
}
.dpt-col-1{
    width: 50%;
    padding: 0 8px;
}
.dpt-col-2{
    width: 40%;
    padding: 0 8px;
}
.dpt-col-3{
    width: 10%;
    padding: 0 8px;
}
.dpt-col-90{
    width: 90%;
    padding: 0 8px;
}
.dpt-box{
    padding: 35px 30px;
}
.bg-white{
    background-color: #efefef  !important;
    margin-bottom: 25px;
}
.bb-lst{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 10px;
}
.bb-cl-1{width: 70%;}
.bb-cl-2{width: 30%; text-align: right;}
.txtCmn{
    font-size: 13px;
    color: #666666;
    font-weight: 500;
}
.bbi-lst{
     display: flex;
}
.bbi-cl-1{
    width: 50%;
    padding: 2px 0;
}
.imp-msgBx{
    background-color: #f8f8f8;
    padding: 15px;
    border:1px solid #e6e6e6;
    margin-top: 15px;
}
.imp-msgBx p{font-weight: 500;}
.imp-msgBx p, .imp-msgBx ul li{
     font-size: 13px;
    color: #2a4370;
}
.imp-msgBx ul{
    list-style: disc;
    margin-left: 15px;
    margin-top: 8px;
}
.frm-grup{
    margin-top: 15px;
}
.frm-grup label{
    font-weight: 500;
    color: #333333;
}
.frm-grup .form-control{
    height: 44px;
    background-color: #f8f8f8;
    border-color: #e6e6e6;
    box-shadow: none;
    border-radius: 0;
    font-weight: 500;
    font-size: 13px;
}
.frm-grup .btn-wqcd{
    display: inline-block;
    height: 34px;
    background-color: #fff;
    border:1px solid #d4d4d4;
    padding: 0 13px;
    margin-top: 8px;
    margin-left: 4px;
    font-size: 13px;
    color: #666666;
    border-radius: 0;
}
.frm-grup .btn-wqcd i{font-size: 16px; vertical-align: middle;}

/*-------------------------DEPOSIT END------------------------------*/

select.form-control:not([size]):not([multiple]) {

    height: calc(2.25rem + 0px) !important;

}

.btcSlct{position: relative;}
.btcSlct select{ padding-left: 80px; border-radius: 2px;}
.btcIcon{position: absolute; z-index: 99; left: 10px; top: 6px; font-size: 15px; line-height: 24px;}
.btcIcon img{ float: left; margin-right: 6px; margin-top: 2px;}
.pNotebg{width: 100%; display: inline-block; padding-top: 20px; border-bottom: 1px solid #ccc; padding-bottom: 20px; margin-bottom: 20px;}
.pNotebg p{ font-size: 14px; font-weight: 500;color: #333333; padding-bottom: 5px;}
.pNotebg ul{ padding-left: 16px;}
.pNotebg ul li{ font-size: 13px; color: #666666; font-weight: 500; padding-bottom: 3px; list-style-type: disc;}
.pNotebg ul li span{ color: #b48728;}
.goTrade{ width: 100%; display: inline-block;}
.goTrade p{ font-size: 16px; font-weight: 600;color: #333333; padding-bottom: 5px;}
.goTrade a{font-size: 13px; font-weight: 400; color: #333; display: inline-block; margin-right: 5%;}
.goTrade a:hover{ color: #000;}
.bb-cl-2 .fa{ color: #b48728;}

.panel-heading .accordion-toggle{ transition: all 0.4s ease; display: block;}
.panel-heading .accordion-toggle.fa:after {
/*    font-family: 'Glyphicons Halflings'; */
    content: "\f107";    
    float: right;      
    color: grey;         
}
.panel-heading a[aria-expanded="true"]:after{ content: "\f105"!important;}

/*
.panel-heading .accordion-toggle.collapsed.fa:after {
    content: "\f105"; 
}
*/


.hstTable{ /*margin: 30px; border-bottom: 1px solid #ccc;*/}
.hstTable table{ width: 100%; /*border: 1px solid #ccc;*/}
.hstTable table th{ padding: 6px 8px; border-bottom: 1px solid #ddd; background-color: #eee; font-size: 13px; font-weight: 500;}
.hstTable table td{ padding: 5px 8px; background-color: #fff; border-bottom: 1px solid #eee; font-size: 12px;}
.hstTable table th:last-child{ text-align: center; border-left: 1px solid #ddd;}
.hstTable table td:last-child{ text-align: center; font-size: 15px;}
.hstTable table td:last-child .fa{cursor: pointer;}
.hstTable table tr:last-child td{ border-bottom: 1px solid #ccc;}
.hstTable .fa-angle-up{ display: none;}
.hstTable a[aria-expanded="true"] .fa-angle-up{ display: block;}
.hstTable a[aria-expanded="true"] .fa-angle-down{ display: none;}
.txt_amount{ text-align: right; }
.span_trans_right { float: right; }
.withdraw_btn{ width: 450px; }
.head_mrg { margin: 8px 0px 0px 0px;}
.withdraw_btn { width:100%; }
.ml_banner_img{ margin-left:20px; }
.header-flex{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0;
}
.Pbdy-info-search{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}
.bdy-info-sLFT{
    display: flex;
    align-items: center;
}
.bdy-info-sRGHT{
    text-align: right;
}
.bdy-info-sRGHT p{
    font-size: 14px; 
    font-weight: 500;
    color: #333333;   
 }
 .bdy-info-bx{
    border: 1px solid #ced4da;
    display: flex;
    align-items: center;
 }
 .bdy-info-bx li{
    border-left: 1px solid #ced4da;
 }
 .bdy-info-bx li:first-child{
    border-left: 0;
 }
 .bdy-info-bx button.Cnt-cmnBtn{
    display: block;
    width: 100%;
    padding: .450rem .75rem;
    font-size:15px;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border:0;
    border-radius: 0;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.Cnt-checkB{
    padding: .450rem .75rem;
    font-size:15px;
    color: #495057;
    margin: 0;
}
.seach-inpt .form-control {
    padding-left: 2.375rem;
    height: 30px;
    width: 180px;
    margin-right: 15px;
}
.seach-inpt .seachico{
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height:30px;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
