
@media screen and (max-width: 1024px) and (min-width: 768px) {
   
   
    
}
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) and (min-width: 992px) {
    
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {
   
}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
  
    
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
   
  
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {

    
}
