@import url('https://fonts.googleapis.com/css?family=Pridi:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,700');
/*
font-family: 'Pridi', serif;
font-family: 'Work Sans', sans-serif;
*/
@import url("font-awesome.min.css");

html, body {
	height: 100%;
}
body {
    font-size: 15px;
    background-color: #fff;
    color: #212121;
    line-height: 1.4;
    font-family: 'Work Sans', sans-serif;
    background-color: #01132d;
}
/*-------------------------START COMMON CSS ----------------------------*/

/*-------------------------END COMMON CSS ----------------------------*/
/*-------------------------HEADER START----------------------------*/
header.inrbg-header{
    background-color: #02112c;
}
.navbar-dark .navbar-nav .nav-item:first-child .nav-link{
    border-left: 0;
}
.navbar-dark .navbar-nav .nav-item:last-child .nav-link{
    border-right: 0;
}

/*-------------------------HEADER END------------------------------*/
/*-------------------------CONTENT START---------------------------*/
.custom-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1600px;
    padding-left: 15px;
    padding-right: 15px;
}
.body-wrapper{
    padding: 40px 0;
}
.title-body {
    margin-bottom: 15px;
}
.title-body h2{
    font-family: 'Pridi', serif;
    color: #fff;
    font-size: 34px;
}
.prevu-kit-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    align-items: stretch;
    margin-left: -10px;
    margin-right: -10px;
}
.prevu-kit-item{
    width: 25%;
    padding: 10px;
}
.prevu-kit-in{
    border:0;
    position: relative;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);   

}
.prevu-kit-in:hover{
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.7);
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.1);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.1);
    transition: all 200ms ease-in;
    transform: scale(1.1);
}
.prevu-kit-in .background .horizontal{
    height: 100%;
    background-size: 343.75px 250px!important;
    background-position: 100% 50%!important;
    background-repeat: no-repeat!important;
}
.prevu-kit-in .background .vertical {
    height: 100%;
    background-size: 350px auto !important;
    background-position: 50% 0!important;
    background-repeat: no-repeat!important;
    display: none;
}
.prevu-kit-in .background{
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.pki-content{
    padding: 30px;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    position: relative;
    height: 100%;
}

.pki-content .family-img-container{
    display: flex;
    align-items: flex-end;
    margin-bottom: 2px;
}
.pki-content .family-icon-container{
    width: 35px;
    height: 35px;
}
.pki-content .name {
    color: #fff;
    overflow: hidden;
    line-height: 1.3;
    max-width: 50%;
    font-size: 15px;
}
.pki-content .notification{
    font-size: 12px;
    color: #ff8a00;
    font-size: 12px;
    max-width: 50%;
}
.pki-content .description{
    color: rgba(255,255,255,.3);
    font-size: 12px;
    max-width: 50%;
    overflow: hidden;
}
.pki-content .price{
    flex: 1 1 auto;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    color: #fff;
    margin: 20px 0 0;
    overflow: hidden;
    font-size: 14px;
    font-weight: 400;
}

.mobile{display: none !important;}
.prevu-kit-item .prevu-img-box img{
    max-width: 100%;
}
.prevu-content{
    padding:15px 30px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
}
.prevu-content h6{
    font-family: 'Pridi', serif;
    color: #fff;
    font-size: 20px;
}
/*-------------------------CONTENT END---------------------------*/

/*-------------------------BANNER START------------------------------*/

.banner-caption {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.b-content{
    height: 300px;
}
.owl-theme .owl-nav button.owl-prev,
.owl-theme .owl-nav button.owl-next{
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    height: 40px;
    width: 40px;
    border-radius: 3px;
}
.owl-theme .owl-nav button span{
    font-size: 28px;
    line-height: 22px;
}
.owl-theme .owl-nav .owl-prev{
    left: 10px; 
}
.owl-theme .owl-nav .owl-next{
    right: 10px;
}
.owl-theme .owl-nav [class*='owl-'] {
    color: #FFF;
    font-size: 30px;
    background: #000;
    cursor: pointer;
}
.owl-theme .owl-nav [class*='owl-']:hover {
    background: #5e922e;
    color: #FFF;
    text-decoration: none;
}
.owl-theme .owl-nav .disabled {
    opacity: 0.5;
    cursor: default; 
}
.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px; 
}
.owl-theme .owl-dots {
    text-align: center;
    -webkit-tap-highlight-color: transparent; 
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 22px;
    overflow: hidden;
}
.owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    *display: inline; 
    background-color: transparent;
}
.owl-theme .owl-dots .owl-dot span {
    width: 100px;
    height: 5px;
    margin: 5px 7px;
    background: #d6d6d6;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity 200ms ease;
    border-radius: 5px; 
    opacity: .6;
    
}   
.owl-theme .owl-dots .owl-dot.active span, 
.owl-theme .owl-dots .owl-dot:hover span {
      background: #5e922e; 
       opacity: 1;
}
.B-logoImg{
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 320px;
    max-height: 150px;
}
.B-logoImg {
    animation-delay: .25s;
}
.B-buy-btn {
    animation-delay: .5s;
    font-weight: 500;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    color: #fff;
    background-color: #5e922e;
    display: block;
    text-align: center;
    display: inline-block;
    height: 42px;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding: 0 25px;
    line-height: 42px;
    margin-top: 16px;
}
.banner-section .owl-item .item{
    position: relative;
    overflow: hidden;
    min-height: 300px;
}
.sf-banner{
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
}
.hero-bkg-animated{
    -webkit-animation-name:moveBg;
    animation-name:moveBg;
    -webkit-animation-duration:5s;
    animation-duration:5s;
    -webkit-animation-timing-function:ease-out;
    animation-timing-function:ease-out;
    -webkit-animation-fill-mode:backwards;
    animation-fill-mode:backwards;
}
@keyframes moveBg{
    0%{
    opacity:0;-webkit-transform:scale(1.05);
        transform:scale(1.05)}
    10%{
        opacity:1;
        -webkit-transform:scale(1.05);
        transform:scale(1.05)
    }
    100%{
        -webkit-transform:scale(1);
        transform:scale(1)
    }
}


/*-------------------------BANNER END------------------------------*/
