
@media screen and (max-width: 1200px) and (min-width: 992px) {
   
   .prevu-kit-item{
        width: 33.3333%;
    }
    
}
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) and (min-width: 992px) {
    
}
@media (min-width: 992px){
    .custom-container {
        padding-left: 40px;
        padding-right: 40px;
    }
    /* .prevu-kit-in{
        min-height: 400px;
  } */
   .pki-content .family-img-container{
        height: 220px;
        margin-bottom: 6px;
    }
   .pki-content .name{
        font-size: 18px;
        max-width: 100%;
        margin-bottom: 6px;
    }
    .pki-content .notification{
        font-size: 13px;
        max-width: 100%;
        margin-bottom: 6px;
    }
    .pki-content .description{
        font-size: 15px;
        max-width: 100%;
        margin-bottom: 6px;
    }
    .pki-content .price{
        font-size: 16px;
        max-width: 100%;
    }
    .prevu-kit-in .background .vertical{display: block;}
    .prevu-kit-in .background .horizontal{display: none;}
}

@media screen and (min-width: 768px){
    .sf-banner{
        height: 300px;
    }
}
/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {
   .prevu-kit-item{
        width: 50%;
    }
    .navbar.nav-custmInr .navbar-brand{margin-right: 10px; padding-left: 0;}
    .navbar.nav-custmInr .navbar-nav > li > a {font-size: 14px;}

    
}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
     .b-content{
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        padding-bottom: 22px;
        padding-top: 150px;
     }
    .navbar.nav-custmInr .navbar-toggle{margin-top: 13px; margin-right: 0; opacity: 0.5;}
    .navbar.nav-custmInr .navbar-nav > li {border-right: 0;}
    .footer-logo, .secondary-footer{text-align: center;}
    .secondary-footer .text-right{text-align: center;}
    .owl-theme .owl-dots .owl-dot span {width: 15px; margin: 5px 5px;}
    .desktop{display: none !important;}
    .mobile{display: block!important;}
    .sf-banner {left: 0;}
    .sf-banner img{width: auto; max-width: inherit;}
    .body-wrapper {padding: 30px 0;}
    .pki-content{padding: 20px;}
    
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 600px) {
    .prevu-kit-item{
        width: 100%;
    }
  
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {

    
}
