@import url('https://fonts.googleapis.com/css?family=Pridi:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,700');
/*
font-family: 'Pridi', serif;
font-family: 'Work Sans', sans-serif;
*/
@import url("font-awesome.min.css");

html, body {
	height: 100%;
}
body {
    font-size: 14px;
    background-color: #fff;
    color: #212121;
    line-height: 1.4;
    font-family: 'Work Sans', sans-serif;
    background-color: #01132d;
}

a {
	color: #1157a6;
	text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
a:hover, a:focus {
	text-decoration: none;
	transition: all 0.20s linear 0s;
	color: inherit;
}
a:focus {
	outline: none;
}
a img {
	border: 0;
}
img{
	max-width: 100%;
}
button:focus{
    outline: 0;
}
ul, ol{
	margin: 0;
	padding: 0;
	list-style: none;
}
h1, h2, h3, h4, h5, h5 {
	color: #334a63;
	font-family: 'Pridi', serif;
	margin: 0;
    font-weight: 600;
}
p {
	color: #4b4b4b;
	font-family: 'Work Sans', sans-serif;
    font-weight: 400;
	margin: 0;
}
.trans{
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/*-------------------------START COMMON CSS ----------------------------*/

/*-------------------------END COMMON CSS ----------------------------*/
/*-------------------------HEADER START----------------------------*/
header.inrbg-header{
    background-color: #02112c;
}
.navbar.nav-custmInr {
    margin-bottom: 0;
    border: 0;
    background-color: transparent;
    min-height: 60px;
}
.navbar.nav-custmInr .navbar-brand {
    height: auto;
    padding: 5px 15px;
 /*   width: 110px;*/
    margin-right: 60px;
}
.navbar.nav-custmInr .navbar-nav > li{
    border-right: 1px solid #263346;
}
.navbar.nav-custmInr .navbar-nav > li > a {
    font-weight: 500;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    color: #fff;
}
.navbar.nav-custmInr .navbar-nav > .active > a, 
.navbar.nav-custmInr .navbar-nav > .active > a:hover, 
.navbar.nav-custmInr .navbar-nav > .active > a:focus,
.navbar.nav-custmInr .navbar-nav > .open > a, 
.navbar.nav-custmInr .navbar-nav > .open > a:hover, 
.navbar.nav-custmInr .navbar-nav > .open > a:focus{
    color: #fff;
    background-color: #5e922e;
}
@media (min-width: 768px){
    .navbar-nav > li > a {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}
.navbar.nav-custmInr .navbar-brand img{
    height: 50px;
}
.header-wrapper{
    background-color: #2a4370;
}
.imba-text{
    font-size: 60px; 
    font-weight: 500;
    color: #fff;
    font-family: 'Pridi', serif;
    line-height: 51px;
}
.hdr-row{
     display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 15px 8px;
    min-height: 94px; 
}
.hdr-col-1{
   display: flex;
   align-items: flex-end; 
}
.nav-menu{}
.nav-menu li{
    margin-left: 20px;
    display: inline-block;
    text-transform: capitalize;
}
.nav-menu li a{ 
    font-size: 16px; 
    font-weight: 300;
    color: #fff;
    font-family: 'Pridi', serif;
}
.nav-menu li a:hover,
.nav-menu li.active a{
    color: #fd0303; 
}

.background_top{
    background-image: url("../../arenafilesm/images/hintergrund.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    overflow:hidden;
    height: 100%;
    width: 100%;
    padding-bottom: 9em;
}

.logo_in_backgound{
    margin-left: 20%;
    margin-top: 6%;
    width:21%;
}

.level{
    color:white;
    margin-top:0.3em;
    text-align:center;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-bottom:2em;
}

.level-image{
    margin-left: 50%;
    transform: translateX(-50%);
}

.game{
    color: white;
    font-weight: 900;
    font-size: 4em;
    margin-top: 3em;
    margin-bottom:1em;
    margin-left: 50%;
    transform: translateX(-50%);
}

hr{
    border-top:1px solid #6684bb;
}

/*-------------------------HEADER END------------------------------*/
/*-------------------------CONTENT START---------------------------*/


/*-------------------------CONTENT END---------------------------*/
/*-------------------------FOOTER START----------------------------*/
.footer {
    background: #2a4370;
}
.page-scroll {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 15px;
    background-color: #2a4370;
    line-height: 50px;
    border-radius: 50%;
     color: #ffffff;
    cursor: pointer;
    top: -30px;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.3);
    text-align: center;
}
.social-link {
    margin-bottom: 0;
    text-align: center;
}
.social-link li {
    display: inline-block;
}
.footer .social-link li a i {
    width: 40px;
    height: 40px;
    font-size: 18px;
    line-height: 40px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
     color: #ffffff;
    border-radius: 50%;
}
.social-link li a i:hover {
    color: #2a4370;
    background: #fff;
}
.mt-20 {
    margin-top: 20px;
}
.footer hr {
    margin: 10px 0 30px;
    border-top: 1px solid rgba(255,255,255,0.1);
}
/*
.justify-content-between {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}
*/

.footer-logo img {
    height: 36px;
    margin-bottom: 20px;
}
.link-widgets .link-title {
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    color: #fff;
    font-family: 'Work Sans', sans-serif;
}
.link-widgets {
    margin-bottom: 30px;
}
.link-widgets ul li a {
    display: block;
    margin-bottom: 4px;
    color: #fff;
    font-family: 'Work Sans', sans-serif;
    font-size: 15px;
}
.link-widgets ul li a i {
    width: 20px;
}
.footer p {
    color: #ffffff;
    margin: 5px 0;
}
.language .custom-select {
    display: inline-block;
    width: auto;
    height: 30px;
    padding: .275rem 1.75rem .275rem .275rem;
    line-height: 20px;
    color: #fff;
    vertical-align: middle;
    background: transparent url(../images/arrow.svg) no-repeat right .75rem center;
    background-size: 8px 10px;
    border: 0;
    border-radius: .25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.secondary-footer {
    background: rgba(0, 0, 0, .1);
     padding: 10px 0;
}
/*-------------------------FOOTER END------------------------------*/
/*-------------------------DEPOSIT START------------------------------*/
.header-title{
    font-size: 34px;
    margin:0 0 30px 0;
    font-weight: 500;
    text-align: center;
    color: #fff;
}
.body-wrapper{
    padding-top: 3em;
}
.inner-bg{background-color: #1d253b;}
.or-items{text-align: center;}
.or-items-title{
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
}
.or-items-title span{
    font-size: 17px;
    color: #fff;
}
.or-items-img img{
    width: 100%;
}
.or-btn-sb{
    border: 0;
    font-weight: 500;
    font-family: 'Work Sans', sans-serif;
    font-size: 17px;
    color: #fff;
    background-color: #5e922e;
    display: block;
    text-align: center;
    width: 100%;
    height: 42px;
    text-transform: uppercase;
    letter-spacing: 4px;
}
.or-btn-sb:hover{
    background-color: #02112c;
    color: #fff;
}
.or-items-details{padding-left: 4%;}
.or-items-details h5{
    font-weight: 500;
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    color: #fff; 
    margin-bottom: 15px;
}
.or-items-details p{
    font-size: 16px;
    color: #fff;
    margin-bottom: 10px;
}

/*-------------------------DEPOSIT END------------------------------*/

.caption {
    position: absolute;
    font-size: 1.5em;
    top: 25%;
    left: 20%;
    color:orange;
    text-shadow: 2px 2px 1px #000;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.owl-theme .owl-nav button.owl-prev,
.owl-theme .owl-nav button.owl-next{
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    height: 40px;
    width: 40px;
}
.owl-theme .owl-nav .owl-prev{
    left: 0; 
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.owl-theme .owl-nav .owl-next{
    right: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.owl-theme .owl-nav [class*='owl-'] {
    color: #FFF;
    font-size: 30px;
    background: #000;
    cursor: pointer;
}
.owl-theme .owl-nav [class*='owl-']:hover {
    background: #869791;
    color: #FFF;
    text-decoration: none;
}
.owl-theme .owl-nav .disabled {
    opacity: 0.5;
    cursor: default; 
}
.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px; 
}
.owl-theme .owl-dots {
    text-align: center;
    -webkit-tap-highlight-color: transparent; 
}
.owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    *display: inline; 
}
.owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #D6D6D6;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity 200ms ease;
    border-radius: 30px; 
}   
.owl-theme .owl-dots .owl-dot.active span, 
.owl-theme .owl-dots .owl-dot:hover span {
      background: #869791; 
}
/*

 .owl-carousel .item img{
    height: 25rem;
}
*/

/*-------------------------ORDER HISTORY END----------------------------*/