/* Large Devices, Wide Screens */
@media (max-width: 1200px){
    .game{
        margin-top:0;
    }

    .background_top{
        padding-bottom:5em;
    }
}

/* Medium Devices, Desktops */
@media (max-width : 991px) {
    .game{
        margin-top:0;
    }

    .navbar-brand img{
        display:none;
    }
}

/* Extra Small Devices, Phones */ 
@media (max-width : 480px) {
    .background_top{
        width:111%;
        padding-bottom:3em;
    }
}

/* Custom, iPhone Retina */ 
@media (max-width : 320px) {
    .background_top{
        width:111%;
        padding-bottom:2em;
    }
}
