.contTabbg{ margin-bottom: 50px;}
.contTabbg table{width: 100%;}
.contTabbg table tr th{ padding: 5px 10px; color: #ccc; font-size: 12px; font-weight: normal;}
.contTabbg table tr td{ padding: 5px 10px; color: #ccc; font-size: 12px; font-weight: normal;}
.contTabUlbg{ width: 100%; display: inline-block; background-color: #081b3d;}
.contTabUlbg ul{ width: auto;}
.showall{float: right; margin: 15px 10px;}
.showall:hover{color: #c42e2e;}
.hideOther{ float: right; margin: 13px; color: #ccc; font-size: 13px;}
.hideOther input{ position: relative; top: 3px;}





.tradingTab{border-bottom: 0!important; background-color: #081b3d;}
.tradingTab li a{ border: 0; color: #fff; border-radius:0; padding-top: 13px; padding-bottom: 13px;}
.tradingTab li.active a, .tradingTab li a:hover{ background-color: transparent!important; border-left: 0!important; border-right: 0!important; border-top: 0!important; border-bottom: 2px solid #5690ed!important; color: #5690ed!important;}
.mtbBg tr td, .mtbBg tr th{ padding: 3px!important;}
.mtbBg button{margin: 0 5PX 0 0; padding: 0; color: #364f7a;}
.mtbBg tr td:first-child{ display: inline-flex;}
.tbFilter .dataTables_length, .tbFilter .dataTables_info, .tbFilter .dataTables_paginate{display: none;}
.tbFilter .dataTables_filter label{ color: transparent;}
.tbFilter .dataTables_filter input[type=search]{ position: relative; margin: 0; width: 100%; color: #7c888b; border: 1px solid #5572a9; padding: 3px; background-color: #0d2144;}

.contTabbg .tab-content{ background-color: #01132d}

.contTabUlbg .tradingTab li { 
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
 }

 .contTabUlbg .nav-tabs { margin-bottom: 0px; }

 /*-------------------------ORDER HISTORY START----------------------------*/
.dpt-col-4{
    width:90%;
    padding: 0 8px;
}
.form-flexinline{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.frm-grup-flex{
    display: flex;
    align-items: center;
}
.form-flexinline label {
    margin-bottom: 0;
    font-weight: normal;
    font-size: 13px;
    margin: 0 2px;
}
.form-flexinline .form-control{
    height: 30px;
    font-size: 13px;
    padding: 0 5px;
}
.dateBx{
    width: 32%;
    padding-right: 7px;
}
.dateBx .date .input-group-addon{
    border-radius: 0;
}
.dateBx .date.input-group .form-control:first-child{
    border-radius: 0;
}
.pairBx{
    width: 22%;
    padding-right: 5px;
}
.pairBx .input-group{
    width: 50%;
}
.sideBx{
    width: 15%;
}
.sideBx .input-group{
    width: 100%;
}
.btn-search{
    display: inline-block;
    height: 30px;
    background-color: #11264d;
    border:0;
    padding: 0 13px;
    margin-left: 4px;
    font-size: 13px;
    color: #fff;
    border-radius: 0;
    text-transform: uppercase;
    font-family: 'Pridi', serif;
}
.btn-search:hover{
     background-color: #24977b;
    color: #fff;
}
.btn-reset{
    display: inline-block;
    height: 30px;
    background-color: #fff;
    border:1px solid #d4d4d4;
    padding: 0 13px;
    margin-left: 4px;
    font-size: 13px;
    color: #666666;
    border-radius: 0;
}
.btnpdf{
     font-size: 13px;
    color: #666666;
    text-align: right;
}
.btnpdf i{
    font-size: 14px;
    vertical-align: middle;
}
.form-flexinline .checkbox label {
    margin-left: 10px;
}
.frm-grup-flex80{
    display: flex;
    align-items: center;
    width: 82%;
}
.clrfnt{font-size: 10px; color:#ccc;}
.btnSmlDels{
    display: inline-block;
    line-height: 26px;
    background-color: #fff;
    border:1px solid #d4d4d4;
    padding: 0 13px;
    margin-left: 4px;
    font-size: 12px;
    color: #666666;
    border-radius: 0;
}
.mrt30{
    margin: 20px 0;
}
.canceled-row td{
   opacity: 0.5;
}
.color-green{ color: #24977b;}
.color-orange{ color: #c42e2e;}
.pagitBx.pagination > li > a, 
.pagitBx.pagination > li > span{
    color: #555;
    font-size: 13px;
    border-radius: 0;
    margin-right: 4px;
}
.ordrTable{
    border: 1px solid #ddd;
}
.ordrTable table th{
    border-left: 1px solid #ddd;
}
.ordrTable table th:first-child{
    border-left: 0;
}
.ordrTable table td:first-child{
    text-align: left;
}
.form-flexinline select.form-control {
    height: 30px !important;
    padding: 0 5px;
    font-size: 13px;
}
.input-group-addon {
    width: 24px;
    text-align: center;
    font-size: 12px;
    line-height: 27px;
    border: 1px solid #ced4da;
    border-left: 0;
}
.mrtbPad{margin: 20px 0;}
/*-------------------------ORDER HISTORY END----------------------------*/