
body {
    font-size: 15px;
}
a:hover {
    text-decoration: none;
}
p {
    color: rgba(0,0,0,.5);
}
ul, ol{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
label, output {
    font-weight: 500;
}
.f-13{
    font-size: 13px;
}
.btn{
    border-radius: 2px;
    font-size: 14px;
    font-weight: 600;
}
/* Navbar ----------------------*/



.bg-kingfisher-daisy {
    margin: 0;
    padding: 0 1rem;
    -webkit-box-shadow: 0 1px 16px 0 rgba(0,0,0,0.3);
    -moz-box-shadow: 0 1px 16px 0 rgba(0,0,0,0.3);
    -ms-box-shadow: 0 1px 16px 0 rgba(0,0,0,0.3);
    -o-box-shadow: 0 1px 16px 0 rgba(0,0,0,0.3);
    box-shadow: 0 1px 16px 0 rgba(0,0,0,0.3);
}
.navbar-dark .navbar-nav .nav-link {
    border-left: 1px solid rgba(0,0,0,.15);
    border-right: 1px solid rgba(255,255,225,.14);
    text-shadow: 0 1px 1px rgba(0,0,0,.2);
    padding: 1rem .8rem;
    font-weight: 600;
}
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show, 
.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .nav-link:hover {
    background-color: transparent;
    background-color: rgba(0,0,0,.05);
    border-bottom-color: rgba(0,0,0,.05);
    border-top-color: rgba(0,0,0,.05);
}
/*nvbar logo*/
.navbar-dark .navbar-brand .logo {
    height: 45px;
}
/*Navbar transparent*/
.bg-transparent {
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
    padding: 1rem 1rem;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030
}
.bg-transparent .navbar-nav .nav-link {
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    padding-right: .6rem;
    padding-left: .6rem;
}
.bg-transparent .navbar-brand .logo {
    height: 50px;
}
.right-side-social {
    border-left: 2px solid rgba(221, 221, 221, 0.2);
    padding-left: 10px;
}
.bg-transparent .navbar-toggler-icon {
    background-image: url("../img/navbar-toggle.svg");
}
@media (max-width: 575px){
    .bg-transparent {
        padding: .5rem 1rem;
    }
    .bg-transparent .navbar-brand .logo {
        height: 40px;
    }
}
/* Sidebar mobile navbar ----------------------*/
#sidebar {
    width: 260px;
    position: fixed;
    top: 0;
    left: -260px;
    height: 100vh;
    z-index: 9999;
    background: #fff;
    color: #999;
    transition: all 0.3s;
    overflow-y: scroll;
    padding: 0 20px 20px;
}
#sidebar.active {
    left: 0;
}
#dismiss {
    width: 0;
    height: 0;
    line-height: 35px;
    text-align: center;
    position: absolute;
    top: 0;
    right: 13px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    display: none;
    top: 0;
}
.metismenu {
    margin-top: 20px;
}
.metismenu > li {
    border-bottom: 1px solid #e5e5e5;
    padding: 15px 0;
}
.metismenu > li > a {
    font-size: 14px;
    display: block;
    padding-right: 20px;
    color: #999;
    position: relative;
    -webkit-transition: none;
    transition: none;
}
.metismenu > li > a:hover,
.metismenu > li.active > a,
.metismenu > li > ul > li > a:hover,
.metismenu > li > ul > li.active > a,
.metismenu > li > ul > li > ul > li > a:hover,
.metismenu > li > ul > li > ul > li.active > a {
    color: #000;
}
.metismenu > li > ul {
    padding-left: 15px;
    padding-top: 10px;
    list-style-type: none;
}
.metismenu > li > ul > li {
    padding: 6px 0;
}
.metismenu > li > ul > li > a {
    font-size: 13px;
    display: block;
    color: #999;
    position: relative;
}
.metismenu > li > ul > li > ul {
    list-style-type: none;
    padding-left: 15px;
    padding-top: 10px;
}
.metismenu > li > ul > li > ul > li {
    padding: 6px 0;
}
.metismenu > li > ul > li > ul > li > a {
    color: #999;
    font-size: 13px;
    display: block;
}
.metismenu .arrow {
    font-size: 16px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0;
}
.metismenu li.active .fa.arrow::before {
    content: "\f107";
}
/* Slider ----------------------*/
.header-slider {
    position: relative;
    overflow: hidden;
}
.slider_preloader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 99;
    min-height: 750px;
}
.slider_preloader_status {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url(../img/status.gif);
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
}
#animation-slide .item,
.header-slider-preloader{
    height: 100vh;
}
#animation-slide .item {
    position: relative;
    z-index: 1;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    /*background-size: 100%;*/
}
/*#animation-slide .item::after {
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
    background: linear-gradient(to right, rgba(86, 61, 124, 0.8), rgba(0, 24, 49, 0));
    background-color: rgba( 30, 38, 49, 0.5);
}*/
#animation-slide .item::before{
    content: "";
    background: url(../img/pattern-white.svg) repeat;
    height: 100%;
    opacity: 0;
    position: absolute;
    width: 100%;
    z-index: 0;
}
.slide-table {
    display: table;
    height: 100%;
    width: 100%;
}
.slide-tablecell {
    color: #fff;
    display: table-cell;
    vertical-align: middle;
}
.slide-tablecell h2 strong {
    color: #fff;
}
.slide-tablecell .slide-btn:hover {
    text-decoration: none;
}
.slide-tablecell .slide-btn {
    padding: 14px 35px;
    border-radius: 30px;
    font-weight: 600;
    font-size: 16px;
}
.slide-tablecell .slide-btn i.fa {
    margin-left: 10px;
}
.slide-tablecell .slide-text > *:nth-child(1) {
    animation-duration: .3s;
}
.slide-tablecell .slide-text > *:nth-child(2) {
    animation-duration: .3s;
    animation-delay: .3s;
}
.slide-tablecell .slide-text > *:nth-child(3) {
    animation-duration: .3s;
    animation-delay: .6s;
    margin-top: 50px;
}
.slide-tablecell .slide-text > *:nth-child(4) {
    animation-duration: .3s;
    animation-delay: .9s;
}
.slide-tablecell .slide-text h2 {
    font-size: 56px;
    font-weight: 800;
    text-shadow: 0 11px 10px rgba(0,0,0,0.19);
    margin-top: 0;
    color: #fff;
    margin-bottom: 30px;
    line-height: 56px;
}
.slide-tablecell .slide-text p {
    font-size: 17px;
    line-height: 27px;
    color: #fff;
}
.animation-slide.owl-theme .owl-nav{
    margin: 0;
}
.animation-slide.owl-theme .owl-nav [class*="owl-"] {
    color: #FFF;
    padding: 4px 7px;
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 0;
    opacity: 0;
    transition: all 0.3s ease 0s;
    transform: translate(0%, -50%);
    font-size: 24px;
    height: 70px;
    width: 69px;
    border-radius: 50%;
    line-height: 62px;
    margin: 0;
    background-color: rgba(0,0,0,0.5);
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: linear;
    box-shadow: 0px 0 0 #31708f inset;
}
.animation-slide.owl-theme .owl-nav .owl-prev:hover{
    box-shadow:100px 0 0 #03a9f4 inset; 
}
.animation-slide.owl-theme .owl-nav .owl-next {
    left: auto;
    right: 0;
}
.animation-slide:hover .owl-nav div.owl-prev {
    left: 30px;
    opacity: 1;
}
.animation-slide:hover .owl-nav div.owl-next {
    right: 30px;
    opacity: 1;
}

.animation-slide.owl-theme .owl-dots .owl-dot span {
    width: 30px;
    height: 8px;
    box-shadow: none;
    border: none;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    transition: 400ms;
    margin: 5px 4px;
}
.animation-slide.owl-theme .owl-dots .owl-dot span:hover {
    width: 50px;
    background: #fff;
}
.animation-slide.owl-theme .owl-dots .owl-dot.active span{
    background: #fff;
}
.animation-slide .owl-dots {
    bottom: 30px;
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}
#animation-slide .item,
.preloader-wrap {
    background-color: #bfbfbf;
}
.preloader-wrap {
    height: 100%;
    width: 100%;
    z-index: 8;
    position: absolute;
}
.preloader4 {
    width: 40px;
    height: 40px;
    background-color: #fff;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -20px;
    margin-left: -20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
@-webkit-keyframes sk-rotateplane {
    0% {
        -webkit-transform: perspective(120px);
    }
    50% {
        -webkit-transform: perspective(120px) rotateY(180deg);
    }
    100% {
        -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
    }
}
@keyframes sk-rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    }
    50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    }
    100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}
@media only screen and (max-width: 1200px) {
    .slide-tablecell .slide-text h2 {
        font-size: 50px;
        line-height: 60px;
    }
}
@media only screen and (max-width: 991px) {
    .slider-preloader-wrap,
    #animation-slide .item {
        height: 700px;
    }
    .slide-text {
        text-align: center;
    }
}
@media only screen and (max-width: 991px) {
    .slider-preloader-wrap,
    #animation-slide .item {
        height: 600px;
    }
    .slide-tablecell .slide-text h2 {
        font-size: 40px;
        line-height: 50px;
    }
}
@media only screen and (max-width: 767px){
    .slide-tablecell .slide-text h2 {
        font-size: 36px;
        line-height: 35px;
    }
    .slide-tablecell .slide-text h2 br{
        display: none;
    }
    .slide-tablecell .slide-text p {
        display: -webkit-box;
        height: 134px;
        margin: 0 auto;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        -ms-text-overflow: ellipsis;
    }
    .slide-tablecell .slide-text p br{
        display: none;
    }
    .animation-slide.owl-theme .owl-nav [class*="owl-"] {
        font-size: 21px;
        height: 50px;
        width: 50px;
        line-height: 46px;
    }
}
@media(min-width: 768px){
    .slide-tablecell .slide-text {
        margin: 0px 35px;
    }
}

/* Ticker ----------------------*/
.ticker {
    background-color: #4D3472;
    padding: 15px 15px;
    z-index: 10;
}
.list-wrpaaer {
    height: 30px;
}
.list-item {
    width: 120px;
    float: left;
    text-align: left;
    font-size: 14px;
    letter-spacing: .35px;
    line-height: 16px;
    font-weight: 700;
    cursor: pointer;
}
.list-item-currency{
    color: #fff;
    position: relative;
    font-size: 12px;
}
.list-item-currency.upgrade {
    color: #0decec;
}
.list-item-currency.downgrade {
    color: #ffc139;
}
/* Page header ----------------------*/
.page_header{
    position: relative;
    height: 350px;
}
.banner_effect {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
    pointer-events: none;
}
.header-content {
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    margin: 0;
}
.haeder-text {
    /*margin-top: 50px;*/
}
.haeder-text h1 {
    font-weight: 900;
    font-size: 48px;
    line-height: 44px;
    margin: 0 0 20px;
    color: #fff;
}
.haeder-text p {
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    color: #fff;
}
.intro-round{
    position: absolute;
    left: 0;
    z-index: 1;
    right: 0;
    bottom: -2px;
    width: 100%;
}
@media(max-width: 767px){
    .haeder-text h1 {
        font-size: 34px;
        line-height: 34px;
    }
    #exchangesChart {
        margin-bottom: 22px;
    }
}
/* Section Title ----------------------*/
.section_title {
    text-align: center;
    margin-bottom: 70px;
}
.section_title h3 {
    font-weight: 300;
    font-size: 32px;
    margin: 0 0 15px;
}
.section_title h3 span {
    font-weight: 900;
}
.section_title p {
    font-size: 15px;
    color: #a5a5a5;
}
@media(max-width: 767px){
    .section_title h3 {
        font-size: 32px;
    }
}
/* Live Exchange ----------------------*/
.live-exchange {
    padding: 90px 0;
}
.exchange-text {
    /*margin-bottom: 70px;*/
}
.justify-content{
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.exchange-info {
    margin: 0px 30px 30px 0;
}
.exchange-info h2 {
    font-weight: 700;
    font-size: 36px;
    margin: 0 0 20px;
}
.exchange-info .definition {
    font-size: 21px;
    margin-bottom: 10px;
    color: #03a9f4;
    font-weight: 600;
}
.exchange-info p {
    margin-bottom: 30px;
}
#liveExchange {
    width: 100%;
    height: 400px;
}	
@media(min-width: 0px) and (max-width: 991px){
    .exchange-info {
        margin: 0px 0px 30px 0;
    }
}
/* Price Spikee ----------------------*/
.price-spike {
    padding: 70px 0;
    background: linear-gradient(180deg,#fff 0,#FCFAFF);
}
.imagine-card {
    padding: 20px;
    border: 1px solid #c6dfea;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-transition: border-color .3s ease,-webkit-box-shadow .3s ease;
    transition: border-color .3s ease,-webkit-box-shadow .3s ease;
    -o-transition: border-color .3s ease,box-shadow .3s ease;
    transition: border-color .3s ease,box-shadow .3s ease;
    transition: border-color .3s ease,box-shadow .3s ease,-webkit-box-shadow .3s ease;
    background-image: linear-gradient(#f0f8fb, #fff);
    margin-bottom: 30px;
}
.imagine-card:hover{
    -webkit-box-shadow: 0 0 15px 1px rgba(0,0,0,.1);
    box-shadow: 0 0 15px 1px rgba(0,0,0,.1);
}
.imagine-card-head,
.imagine-card-bottom{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}
.imagine-card-head{
    margin-bottom: 15px;
}
.imagine-card-logo {
    margin-right: 16px;
    height: 36px;
    width: 36px;
    /*-webkit-box-shadow: 0 0 16px 1px rgba(0,0,0,.05);*/
    /*box-shadow: 0 0 16px 1px rgba(0,0,0,.05);*/
    border-radius: 50%;
    overflow: hidden;
}
.imagine-card-logo img {
    height: 100%;
    width: 100%;
}
.imagine-card-name {
    font-size: 17px;
    font-weight: 700;
    line-height: 25px;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
}
.imagine-card-date {
    font-size: 12px;
    font-weight: 600;
    color: #8d9097;
}
.imagine-card-chart {
    min-height: 36px;
    margin-right: 24px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.chart {
    width: 110px;
    height: 36px;
}
.imagine-card-change {
    font-size: 25px;
    line-height: 24px;
    text-align: right;
    font-weight: 700;
}
.change-green{
    color: #32ab51;
}
.change-red {
    color: #e34828;
}
.imagine-card-points {
    font-size: 10px;
    line-height: 14px;
    text-align: right;
    font-weight: 400;
}
@media(min-width: 768px) and (max-width: 1199px){
    .imagine-card {
        padding: 15px;
    }
    .imagine-card-change {
        font-size: 21px;
    }
    .chart {
        width: 100px;
        height: 32px;
    }
}
/* Newslatter ----------------------*/
.newslatter {
    text-align: center;
    padding: 80px 0 100px;
}
.newslatter-text{
    margin-bottom: 50px;
}
.newslatter-text h3 {
    font-size: 50px;
    font-weight: 700;
} 
.newslatter-text p {
    color: #fff;
    font-size: 21px;
} 
.newslatter-form .form-control {
    height: 42px;
    border: 0;
    border-radius: 3px !important;
}
.newslatter-form .btn {
    background-color: #03a9f4;
    color: #fff;
    border-color: #03a9f4;
    margin-left: 15px;
    border-radius: 3px !important;
    padding: .375rem 3rem;
}
@media (max-width: 575px){
    .newslatter-text h3 {
        font-size: 36px;
        font-weight: 800;
    }
    .newslatter-text p {
        color: #fff;
        font-size: 15px;
    }
    .newslatter-form .btn {
        padding: .375rem 1.5rem;
    }
}
@media(min-width: 768px) and (max-width: 1199px){
    .newslatter-text h3 {
        font-size: 38px;
    }
    .newslatter-text p {
        font-size: 17px;
    }
}

/* Exchange Chart ----------------------*/
.exchange-content {
    padding: 20px 0 70px;
}
@media (min-width: 1350px) {
    .exchange-wrapper .container {
        max-width: 1300px;
    }
}
.exchange-content .row {
    margin-right: -5px;
    margin-left: -5px;
}
.exchange-content .row [class*="col"] {
    padding-right: 5px;
    padding-left: 5px;
}
.coin-name {
    padding-left: 10px;
    margin-bottom: 20px;
}
.coin-name h2 {
    /* margin: 0; */
    line-height: 21px;
}
.coin-name h5 {
    margin: 0;    
    font-size: 15px;
    font-weight: 700;
}
@media (max-width: 575px){
    .coin-name h2 {
        font-size: 1.5rem;
    }
}
/*chart -------*/
.price-info [class*="col-"]{
    border-right: 1px solid #ddd;
}
.price-info [class*="col-"]:last-child{
    border: none;
}
.price-info-table{
    text-align: center;
}
.dollar {
    position: relative;
    top: -6px;
    vertical-align: baseline;
    font-size: 16px;
    font-weight: 600;
}
.last-price {
    font-size: 16px;
    font-weight: 600;
}
.last-price-title {
    display: block;
    text-transform: uppercase;
    font-weight: 600;
    color: #a5a5a5;
    letter-spacing: 1px;
    font-size: 10px;
}
.total-volume {
    text-align: center;
    margin: 0 0 15px;
    font-weight: 600;
    font-size: 14px;
}
.chart-panel {
    padding: 10px;
    background-color: #fff;
    border-radius: 0;
    border: 1px solid #DAD0EA; 
    /* box-shadow: 0px 0px 15px #D6C8EC; */
    background-image: linear-gradient(#ECE5F8, #fff);
    margin-bottom: 10px;
    /*box-shadow: 0px 0px 4px #C0B5D1;*/
}
#exchangesChart {
    width: 100%;
    height: 394px;
}
.amChartsInputField {
    border: 1px solid #DAD0EA !important;
    font-size: 13px;
}
.amChartsButton, .amChartsButtonSelected {
    /* background-image: linear-gradient(#ffffff, #D8CDEA) !important; */
    border: 0 solid #CCBFE1 !important;
    border-radius: 0 !important;
    opacity: 1 !important;
    color: #fff !important;
    font-size: 12px;
    line-height: 21px;
    cursor: pointer;
}
.amChartsButtonSelected{
    background-color: #03a9f4 !important;
}
@media (max-width: 575px){
    .price-info-table {
        margin-bottom: 15px;
    }
    .last-price, .dollar {
        font-size: 16px;
    }
    .last-price-title {
        font-size: 11px;
    }
}
/*Title -------*/
.content-title{
    padding-left: 10px;
    margin-bottom: 10px;
}
.content-title h4 {
    font-size: 16px;
    font-weight: 700;
}
/*Panel -------*/
/*.card {
    border: 1px solid #CAB9E3;
    border-radius: 0;
        background-color: #F2EEF9;
}*/
.card {
    border: 1px solid #DAD0EA;
    border-radius: 0;
    /* box-shadow: 0px 0px 15px #D6C8EC; */
    margin-bottom: 0px;
    /*box-shadow: 0px 0px 4px #C0B5D1;*/
}
.card-header {
    border-bottom: 1px solid #DAD0EA;
    /* background-image: linear-gradient(#ECE5F8, #fff); */
    font-size: 13px;
    /*text-transform: uppercase;*/
    font-weight: 600;
    padding: 5px 10px;
    background-color: #FAF7FF;
}
.card-body {
    padding: 1rem;
}
/* Tabs ----------------------*/
.nav-tabs {
    padding: 7px;
    /* margin-bottom: 15px; */
    background-color: #F5EFFF;
    border-bottom: 1px solid #DAD0EA;
}
.nav-tabs .nav-link {
    padding: .1rem .4rem;
    border-radius: 0;
    font-weight: 600;
    font-size: 12px;
    border: 1px solid #DAD0EA;
    background-color: #fff;
    margin-right: 5px;
        color: #5b4d6f;
}
/* Table ----------------------*/
.table {
    font-size: 11px;
    color: #5b4d6f;
    font-weight: 600;
}
.table-bordered {
    border: 1px solid #EBE4F6;
}
.table thead th {
    border-bottom: 1px solid #EBE4F6;
}
.table-bordered td, .table-bordered th {
    border: 1px solid #EBE4F6;
}
.table td, .table th {
    padding: .15rem;
    border-top: 0px solid #EDE8F5;

}
.table-striped tbody#buytrades tr:nth-of-type(2n+1){
    background-color: rgba(40, 167, 69, 0.05);
} 
.table-striped tbody#selltrades tr:nth-of-type(2n+1){
    background-color: rgba(220, 53, 69, 0.05);
}
.table-striped tbody#buytrades tr > :first-child{
    color: #28a745;
} 
.table-striped tbody#selltrades tr > :first-child{
    color: #dc3545;
}
.table tbody#buytrades td:last-child, .table th:last-child, .table tbody#selltrades td:last-child, .table th:last-child, .table tbody#tradeHistory td:last-child, .table th:last-child {
    padding-right: .7rem;

}
.table td:first-child, .table th:first-child,
.table td:last-child, .table th:last-child {
    padding-left: .2rem;
}
.table-hover tbody tr:hover {
    background-color: #EBE4F6;
}
.table th.star .fas {
    font-size: 10px;
    color: #e6aa1b;
}
.table-striped tbody tr:nth-of-type(2n+1) {
    background-color: #F8F4FF;
}

.markert-tabs {
    margin-bottom: 10px;
    border: 1px solid #DAD0EA;
}
.table-bg{
    background-color: #F1EDF9;
}
.markert-table .table {
    margin: 0;
}
.slimScrollRail{
    border-radius: 0px !important;
}
.slimScrollBar{
    border-radius: 0px !important;
    opacity: 1 !important;
}

.tableFixHead { overflow-y: auto; height: 389px; }
/*table { border-collapse: collapse; width: 100%; }*/
/*th { background:#ECE5F8; }*/

.fa-bitcoin{
    color: #f07d05;
}
.table-panel{
    padding: 20px;
    box-shadow: 0px 0px 4px #C0B5D1;
}
.history-table{
    border: 1px solid #DAD0EA;
}
.positive {
    color: #35a947;
}
.negative {
    color: #e34828;
}
.priceChargeDown {
    /*background-color: #f6b1b1 !important;*/
    background-color: #f5d7d7 !important;
}
.priceChargeHeigh {
    /*background-color: #b2eab1 !important;*/
    background-color: #d9ecd8 !important;
}

.priceChargeDown td, .priceChargeDown th {
    border-top: 1px solid  #e6acac;
    border-bottom: 1px solid  #e6acac;
    /*border-color: #f5d7d7;*/
}
.priceChargeHeigh td, .priceChargeHeigh th {
    border-top: 1px solid #88e386;
    border-bottom: 1px solid #8fe386;
    /* border-color: #d9ecd8; */
}
/* Notice ----------------------*/
.notice-main  {
    margin-top: 29px;
}
.notice-main .notice {
        padding: 1rem;
}
.notices .card-header {
    border-radius: 0;
    margin: 10px;
    border: 0;
    box-shadow: 0px 0px 4px #adadad;
    font-size: 14px;
}
.notices.notice-main .card-body{
    padding: 0;
}
.notice-text {
    border-bottom: 1px solid #DAD0EA;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.notice-text:last-child{
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}
.notice-title {
    font-size: 14px;
    color: #5b4d6f;
    line-height: 21px;
}
.post-author {
    color: #B9ADCC;
    font-size: 12px;
    font-weight: 600;
}
#live_chat {
    min-height: 300px;
    max-height: 300px;
    overflow: hidden;

}
.message-body {
    margin: 10px;
}
#live_chat_list li {
    width: 100%;
        display: inline-block;
}
#live_chat_list li img {
    width: 30px;
    border-radius: 50%;
    float: left;
}
#live_chat_list li .message-top {
    float: left;
    width: 100%;
}
#live_chat_list li .message-top span {
    font-size: 12px;
    color: #B4A3CE;
    font-style: italic;
    padding-left: 15px;
    line-height: 30px;
}
#live_chat_list li p {
    font-size: 14px;
    float: left;
    color: #5b4d6f;
    padding: 0 0 0 40px;
}
.live_message textarea{
    border: 0;
    width: 100%;
}
/* Market Depth Chart ----------------------*/
#marketDepth {
    width: 100%;
    height: 300px;
}
/* Buy sell BTC ----------------------*/
.orders .card-body{
    padding: 0;
}
.buy-order {
    height: 276px;;
}
.sell-order {
    height: 276px;;
}
.orders .table{
    margin: 0
}
.balance, .buy-sell-orders {
    font-size: 13px;
    text-transform: capitalize;
    color: #90889E;
}
.price-details {
    width: 100%;
    border-bottom: 1px dashed #DAD0EA;
    padding-bottom: 3px;
    margin-bottom: 3px;
    font-size: 13px;
    font-weight: 600;
    /* color: #76737b; */
    color: #5b4d6f;
}
.buy-form{
    margin-bottom: 15px;
}
.buy-form .form-control {
    width: max-content;
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-top-right-radius: .2rem !important;
    border-color: #468847;
    border-bottom-right-radius: .2rem !important;
}
.buy-form label {
    color: #468847;
    font-weight: 600;
    font-size: 14px;
    margin: 0 0 5px;
}
.buy-form .input-group-text {
    font-size: 11px;
    padding: .375rem .30rem;
    font-weight: 700;
    background-color: #dff0d8;
    border: 1px solid #468847;
    color: #468847;
}
.loginMessage {
    color: #B9ADCC;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 600;
}
.loginMessage a {
    color: #5b4d6f;
    text-decoration: underline;
}

/* Blog news masonry ----------------------*/
.news-masonry {
    margin: 30px 0;
}
.news-masonry .row{
    margin: 0;
}
.news-masonry .row [class*="col-"] {
    padding: 0;
}
.masonry-post {
    position: relative;
}
.masonry-img{
    position: relative;
    overflow: hidden;
    display: block;
    line-height: 0;
}
.masonry-post img{
    -webkit-transform: scale(1);
    transform: scale(1);
    will-change: transform;
    -webkit-transition: -webkit-transform 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: -webkit-transform 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: transform 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: transform 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-transform 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    z-index: 0;
}
.masonry-post:hover img{
    transform: scale3d(1.1,1.1,1);
    -webkit-transform: scale3d(1.1,1.1,1);
    -moz-transform: scale3d(1.1,1.1,1) rotate(.02deg);
}
.masonry-post-text {
    left: 0;
    bottom: 0;
    width: 100%;
    position: absolute;
    padding: 40px 30px 30px;
    background-image: -moz-linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 50%, rgba(0,0,0,.7) 100%);
    background-image: -ms-linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 50%, rgba(0,0,0,.7) 100%);
    background-image: -o-linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 50%, rgba(0,0,0,.7) 100%);
    background-image: -webkit-linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 50%, rgba(0,0,0,.7) 100%);
    background-image: -webkit-gradient(linear, center top, center bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.7)));
    background-image: linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 50%, rgba(0,0,0,.7) 100%);
}
.cat-links {
    color: #fff;
    font-size: 11px;
    letter-spacing: 1px;
    line-height: 21px;
    padding: 0 12px;
    display: inline-block;
    margin-bottom: 15px;
    background-color: #03a9f4;
    text-transform: uppercase;
    font-weight: 700;
}
.cat-links a,
.masonry-post-text h2 a{
    color: #fff;
}
.masonry-post-text h2 {
    color: #fff;
    font-weight: 700;
    width: 100%;
    margin: 0 0 20px;
    font-size: 24px;
    line-height: 33px;
    text-transform: capitalize;
    -webkit-text-shadow: 1px 1px 1px rgba(0,0,0,.3);
    -moz-text-shadow: 1px 1px 1px rgba(0,0,0,.3);
    -ms-text-shadow: 1px 1px 1px rgba(0,0,0,.3);
    -o-text-shadow: 1px 1px 1px rgba(0,0,0,.3);
    text-shadow: 1px 1px 1px rgba(0,0,0,.3);
}
.masonry-post-text h2 a:hover {
    color: #03a9f4;
}
.masonry-post-text .meta-info {
    color: #fff;
}
@media (max-width: 767px){
    .news-masonry {
        margin: 0 0 30px;
    }
    .news-masonry .container {
        padding-right: 0;
        padding-left: 0;
    }
    .feature-post{margin-bottom: 30px;}
    .news-masonry .masonry-post-text {padding: 20px;}
    .news-masonry .masonry-post-text h2 {font-size: 19px;line-height: 25px;height: 75px;overflow: hidden;}
    .masonry-post-text .meta-info {
        font-size: 14px
    }
}
@media (min-width: 768px) and (max-width: 1199px){
    .masonry-post-text {padding: 40px 15px 20px;}
    .masonry-post-text .entry-meta .comment-link{display: none;}
    .masonry-post-text h2 {font-size: 17px;}
    .masonry-post-text .cat-links, .masonry-post-text .entry-meta {margin-bottom: 10px;}
    .news-masonry .masonry-post-text h2 {font-size: 19px;line-height: 25px;height: 75px;overflow: hidden;}
}
/* Blog post grid ----------------------*/
.blog-grid-content {
    background-color: #FAF7FF;
    padding: 70px 0 40px;
}
/* Section title ---*/
.section-title{
    margin-bottom: 50px;
}
.section-title h3 {
    font-weight: 600;
}
.section-title p {
    color: #707070;
    /* font-weight: 600; */
}
.blog-grid-post{
    margin-bottom: 30px;
}
.post-header{
    margin-bottom: 15px;
}
.grid-title {
    font-size: 17px;
    font-weight: 600;
    margin: 0 0 15px;
}
.grid-title a{
        color: #212529;
}
.grid-title a:hover{
    color: #212529;
    text-decoration: none;
}
.post-date {
    font-weight: 600;
}
.post-likes,
.post-comments{
    color: #707070;
}
.post-des{
    color: #707070;
}
/* Breadcrumb ----------------------*/ 
.breadcrumb-content{
    background-color: #f5f5f5;
}
.breadcrumb {
    border-radius: 0;
    background-color: transparent;
    font-size: 14px;
    font-weight: 600;
    padding: .80rem 0;
    margin: 0;
}
.breadcrumb li a{
    color: #212529;
}
.breadcrumb-item + .breadcrumb-item::before {
    content: " ";
    display: inline-block;
    border: 4px solid transparent;
    border-right-width: 4px;
    border-left-color: transparent;
    border-right-width: 3px;
    border-left-color: transparent;
    border-right-width: 0;
}
/* Blog Widgets ----------------------*/ 
.blog_wrapper {
    padding: 70px 0;
}
.blog_details_wrapper {
    padding: 50px 0 70px;
}
.blog-sidebar{
    padding-left: 50px;
}
.widget{
    margin-bottom: 30px;
}
.social-forum{
    background-color: #f5f5f5;
    padding: 15px;
}
/* Widget title -----*/
.widget_title {
    color: #000;
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    height: auto;
    margin-bottom: 20px;
    padding: 0 0 10px;
    position: relative;
}
.widget_title::before {
    /* background-color: #e2e2e2; */
    bottom: 0;
    content: "";
    height: 2px;
    position: absolute;
    width: 50px;
}
/* Sidebar Search Form -----*/
.search-form .form-control{
    background-color: #e6e6e6;
    border-color: #e6e6e6;;
    height: 42px;
}
.search-form .form-control:focus{
    box-shadow: none;
    background-color: #fff;
    border: 1px solid #ced4da;
}
.search-form .btn {
    border-radius: 0;
    padding: .600rem .75rem;
    background-color: #03a9f4;
    border-color: #03a9f4;
}
/* Widget Social Icon -----*/
.social_icon a {
    display: inline-block;
    color: #fff;
    font-size: 17px;
    height: 36px;
    width: 36px;
    background-color: #000;
    text-align: center;
    line-height: 37px;
    border-radius: 2px;
    margin-right: 5px;
}
.social_icon a.facebook{background-color: #3b5998;}
.social_icon a.twitter{background-color: #00aced;}
.social_icon a.instagram{background-color: #cd486b;}
.social_icon a.youtube{background-color: #ff0000;}
.social_icon a.linkedin{background-color: #0077b5;}
/* Widget Category -----*/
.widget_category li {
    margin-bottom: 5px;
}
.widget_category li a {
    color: #212529;
    font-size: 16px;
    display: inline-block;
    font-weight: 600;
}
.widget_category li span {
    margin-right: 5px;
}
/* Widget Banner -----*/
.widget_banner {
    margin-bottom: 30px;
}
/* Post List -------*/
.post, .post_body{
    overflow: hidden;
    zoom: 1;
}
.post_list{
    margin-bottom: 30px;
}
.post_img {
    padding-right: 15px;
}
.post_list_lg .post_img{
    padding-right: 20px;
}
.post_body, .post_img {
    display: table-cell;
    vertical-align: middle;
}
.post_img img{
    /*border-radius: 4px;*/
}
.post_body p {
    margin-bottom: 15px;
    color: #777;
}
.post_list_lg .post_img img{
    width:300px
}
.post_list_sm .post_img img{
    width:110px
}
.post_heading {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 17px;
    font-weight: 600;
}
.post_list_lg .post_heading{
    margin-bottom: 10px;
    font-size: 23px;
}
.post_heading  a{
    color: #212529;
}
.post_heading a:hover {
    color: #03a9f4;
}
.post_meta {
    font-size: 14px;
    margin-bottom: 5px;
}
.post_meta span {
    display: inline-block;
    position: relative;
    font-weight: 500;
    margin-right: 8px;
}
.post_meta span, .post_meta span a {
    color: rgba(72, 72, 72, 0.5);
}
.post_meta span i {
    margin-right: 5px;
}
.time {
    display: inline-block;
    background-color: #25258e;
    margin: .5em 0 1em;
    color: #fff;
    padding: 2px 15px;
    font-size: 14px;
}
.avatar-img{
    margin-right: 10px
}
.avatar-img img{
    height: 32px;
    width: 32px;
    border-radius: 50%;
}
.meta-info {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 16px;
}
.avatar-name {
    font-weight: 600;
    margin-right: 10px;
}
.date{
    font-style: normal;
}
@media(max-width: 610px){
    .post_list_lg .post_body, 
    .post_list_lg .post_img{
        display: block;
    }
    .post_list_lg .post_img{
        padding: 0 0 30px;
    }
    .post_list_lg .post_img img{
        width: 100%;
    }
}
@media(min-width: 768px) and (max-width: 991px){
    .blog-sidebar {
        padding-left: 0;
    }
    .post_list_lg .post_heading {
        font-size: 17px;
    }
    .meta-info {
        font-size: 13px;
    }
    .avatar-name {
        margin-right: 5px;
    }
    .post_list_sm{
        margin-bottom: 20px;
    }
    .post_heading {
        font-size: 15px;
        margin-bottom: 0
    }
    .post_meta {
        font-size: 12px;
        margin-bottom: 0;
    }
}
@media(min-width: 768px) and (max-width: 1199px){
    .post_list_lg .post_img {
        padding-right: 20px;
    }
    .post_list_lg .post_img img {
        width: 220px;
    }
    .post_list_sm .post_img img {
        width: 90px;
    }
    .post_list_sm .post_heading{
        display: -webkit-box;
        height: 40px;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .post_list_lg p{
        display: none;
    }
}
.more-btn {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
    font-size: .8rem;
    font-weight: 600;
    letter-spacing: .02em;
    line-height: 1;
    padding: 15px 0;
    text-align: center;
    text-transform: uppercase;
    width: 70%;
    background: -moz-linear-gradient(top,#ffffff 0%,#f2f4f7 100%);
    background: -webkit-linear-gradient(top,#ffffff 0%,#f2f4f7 100%);
    background: linear-gradient(to bottom,#ffffff 0%,#f2f4f7 100%);
    border: 1px solid #ced0da;
    color: #354052;
}
.more-btn:hover {
    background: -moz-linear-gradient(top,#f2f4f7 0%,#ffffff 100%) !important;
    background: -webkit-linear-gradient(top,#f2f4f7 0%,#ffffff 100%) !important;
    background: linear-gradient(to bottom,#f2f4f7 0%,#ffffff 100%) !important;
}
/* Blog Details widgets --------------------------*/
.post_details{
    padding-bottom: 30px;
    margin-bottom: 50px;
    border-bottom: 1px solid #eaeaea;
}
.details-header{
    margin-bottom: 30px;
}
.post_details .details-header h2 {
    margin: 0 0 10px;
    font-weight: 700;
    font-size: 27px;
}
.post_details h2,
.post_details h3,
.post_details h4,
.post_details h5,
.post_details h6{
    margin: 0 0 10px;
}
.post_details p,
.post_details ul,
.post_details ol{
    margin: 0 0 20px;
    line-height: 27px;
}
.post_details blockquote {
    border-left: 5px solid #25258e;
    background-color: #f5f5f5;
    padding: 15px;
}
.blockquote-footer {
    font-size: 70%;
}
.post_details ul{
    list-style-type: circle;
    padding-left: 17px;
}
.post_details ol{
    list-style-type: lower-roman;
    padding-left: 22px;
}
@media(min-width: 768px){
}
@media(min-width: 1200px){
    /*    .post_details p, .post_details ul, .post_details ol {
            font-size: 16px;
        }*/
}
/*----- Comments ------*/
.post_related .post_article h4 {
    text-align: left;
    margin: 0;
}
.item_related{
    margin-bottom: 30px;
}
.comments,
.post_related{
    margin-bottom: 50px;
    border-bottom: 1px solid #eaeaea;
}
.comments{
    padding-bottom: 30px;
}
.comments .media {
    margin-top: 30px;
}
.comments .media-heading,
.author-bio h4{
    margin-bottom: 10px;
    font-size: 18px;
}
.comments .media-heading small {
    margin-left: 10px;
    color: rgba(0,0,0,.5);
}
.comments .media-object {
    width: 70px;
    margin-top: 6px;
    height: 70px;
}
.comments .media-left{
    padding-right: 20px;
}
@media(max-width: 767px){
    .comments .media-left {
        padding-right: 15px;
    }
}
/* Comment Form ----------------------*/ 
.comment_form{
    /*margin-bottom: 50px;*/
}
.replay_title, .comment_title, .related_post_title {
    font-size: 21px;
    margin: 0 0 20px;
    font-weight: 600;
}
.col-form-label {
    padding-top: calc(.7rem - 1px * 2);
    padding-bottom: calc(.7rem - 1px * 2);
    margin-bottom: 0;
    font-weight: 500;
}
.form-control {
    border-radius: 0;
}
.form-control:focus {
    /*border: 1px solid #66afe9;*/
}
.donation_widget .link-btn {
    padding: 6px 12px;
    font-size: 14px;
    margin-top: 5px;
    color: #fff;
}
.comment_form .btn-default{
    margin-top: 20px;
}
.aligncenter, .alignnone, .alignright, .alignleft {
    display: block;
    margin: 1.6em auto;
    clear: both;
}
@media screen and (min-width: 768px){
    .alignleft, .alignright {
        max-width: 50%;
    }
    .alignright {
        float: right;
        margin: .4em 0 1em 2em;
    }
    .alignleft {
        float: left;
        margin: .4em 2em 1em 0;
    }
    .aligncenter {
        margin: 0 0 30px;
    }
    .alignnone {
        margin: 2em 0;
    }
}
/* Register & Login For ----------------------*/ 
.form-body {
    background-color: #FAF7FF;
    padding: 70px 0;
}
.form-content {
    background: #fff;
    width: 400px;
    margin: 0 auto;
    border: 1px solid #DAD0EA;
    background-image: linear-gradient(#ECE5F8, #fff);
    box-shadow: 0px 0px 4px #C0B5D1;
}
.user-login-title {
    /*background: #ffffff;*/
    color: #03a9f4;
    text-align: center;
    text-transform: uppercase;
    font-size: 21px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 32px 0;
    border-bottom: 1px solid #DAD0EA;
    margin: 0;
}
.form-content .user-login {
    padding: 25px 40px 30px;
}
.user-login label {
    color: #625D6B;
    font-weight: 600;
}
.user-login label i{
    font-size: 13px;
    margin-right: 7px;
}
.form-content.register{
    width: 650px
}
.login-modal .modal-content {
    border: 0;
}
.login-modal .modal-header {
    justify-content: center;
}
.login-modal .modal-body {
    padding: 2rem;
}
@media(min-width: 576px){
    .login-modal .modal-dialog {
        max-width: 350px;
        margin: 1.75rem auto;
    }
}
/* Footer ----------------------*/ 

.mt-20 {
    margin-top: 20px;
}
.footer-logo{

}
.footer-logo img {
    height: 36px;
    margin-bottom: 20px;
}
.footer h2 {
    margin-bottom: 24px;
}
.footer-one .primary-footer {
    padding-top: 80px;
    padding-bottom: 50px;
}
.secondary-footer {
    padding: 10px 0;
}
.copy-text a{
    color: #fff;
}
.copy-text, .copy-text a:hover {
    color: #37a000;
    font-weight: 600;
}
/*Social Link Widget*/
.social-link {
    margin-bottom: 0;
    text-align: center;
}
.social-link li {
    display: inline-block;
}
.social-link li a i {
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
}
.social-link li a i:hover {
    color: #03a9f4 ;
    background: #fff;
}
.social-link.dark li a i{
    color: #202020;
}
.social-link.dark li a i:hover {
    color: #fff ;
    background: #03a9f4;
}
/*Back to top*/
.page-scroll {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 15px;
    background-color: #03a9f4;
    line-height: 50px;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    top: -30px;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.3);
    text-align: center;
}
.footer .social-link li+li {
    margin-left: 15px;
}
.footer .social-link li a {
    line-height: 14px;
}
.footer .social-link li a i{
    width: 40px;
    height: 40px;
    font-size: 18px;
    line-height: 40px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
.footer .social-link li a i:hover {
    color: #0379ae;
}
.footer hr {
    margin: 10px 0 30px;
    border-top: 1px solid rgba(255,255,255,0.1);
}
.footer-intro p {
    margin: 0 auto 70px;
}
@media (min-width: 992px) {
    .footer-intro p {
        width: 60%;
    }
}
.link-widgets {
    margin-bottom: 30px;
}
.link-widgets .link-title {
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}
.link-widgets ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.link-widgets ul li a {
    display: block;
    margin-bottom: 4px;
}
.link-widgets ul li a i {
    width: 24px;
}
/*Copyright*/
.footer-copyright{
    margin: 0;
}
.footer-copyright i {
    color: #37a000;
}
.footer-copyright a{
    color: #B0A4C2;
}
.language .custom-select {
    display: inline-block;
    width: auto;
    height: calc(1.9rem + 2px);
    padding: .275rem 1.75rem .275rem .275rem;
    line-height: 1;
    color: #fff;
    vertical-align: middle;
    background: transparent url("../img/arrow.svg") no-repeat right .75rem center;
    background-size: 8px 10px;
    border: 0;
}
@media (max-width: 767px) {
    .footer-intro p {
        width: 100%;
    }
}
/* Balance ----------------------*/ 
.ballance-content,
.deposit-content,
.withdraw-content,
.transfer-content,
.payout-content,
.edit-profile{
    padding: 70px 0;
}
.marks-ico img{
    width: 16px;
    height: 16px;
    margin-right: 10px;
}
.btn-tread {
    border: 1px solid #EDE8F5;
    font-size: 12px;
    padding: .1rem .75rem;
    line-height: 14px;
}
/* Contct page ----------------------*/ 
.contactPage-content {
    padding: 70px 0;
}
.contact-header{
    margin-bottom: 50px;
}
.superheadline {
    display: block;
    margin-bottom: .25rem;
    text-transform: uppercase;
    font-weight: 600;
    color: rgb( 130, 124, 126 );
    font-size: 13px;
    letter-spacing: 1px;
}
.contact-header h2 {
    margin-bottom: 30px;
    font-size: 28px;
}
.contact-header .headline{
    display: block;
    position: relative;
}
.contact-header .headline::after {
    content: ' ';
    display: block;
    width: 4em;
    margin: .55em 0 0;
    border-style: solid;
    border-width: 0 0 2px;
    margin: .4em 0 .2em;
    border-width: 3px 0 0;
    color: #03a9f4;
    width: 1.5em;
}
.contact-header p{
    color: rgb( 130, 124, 126 );
}
.contact-service {
    margin-bottom: 35px;
}
.contact-service img {
    width: 50px;
}
.contact-service .media-body h4 {
    margin-top: 0px;
    font-size: 17px;
    font-weight: 600;
}
.contact-service .media-body div {
    color: rgb( 130, 124, 126 );
}
.map-content {
    border: 1px solid #ccc;
    box-shadow: 0 0 5px #DDD;
    padding: 5px;
}
#map {
    width: 100%;
    height: 500px;
} 
@media (max-width: 575px){
    .contact-header .headline {
        font-size: 25px;
        font-weight: 600;
    }
    .contactPage-content {
        padding: 50px 0;
    }
}
@media(min-width: 0px) and (max-width: 991px){
    .contect-des {
        margin-bottom: 30px;
    }
    .contact-form{
        margin-top: 30px;
    }
}
/* Frequently Ask Questions --------------------*/
.faq_content{
    padding: 70px 0 40px;
}
.faq-title {
    text-align: center;
    margin-bottom: 70px;
}
.accordion {
    /* max-width: 560px; */
    margin: 0 auto 50px;
    /*border-top: 1px solid #d9e5e8;*/
}
.accordion-title {
    font-size: 24px;
    font-weight: 600;
}
.faq-des {
    margin-bottom: 30px;
}
.accordion li {
    position: relative;
    margin-bottom: 20px;
    border-radius: 0;
    transition: all 0.2s ease;
    background: #f5f5f5;
    /*border: 1px solid #DAD0EA;*/
    /*background-image: linear-gradient(#ECE5F8, #fff);*/
}
.accordion li:hover {
    transform: translateY(-5px);
    box-shadow: 0px 0px 20px rgba(0,0,0,0.15);
}
.accordion li:hover {
    border-color: #bbb;
}
.accordion li p {
    display: none;
    padding: 0 25px 25px;
}
.accordion a {
    width: 100%;
    display: block;
    cursor: pointer;
    font-weight: 600;
    color: #222222;
    font-size: 17px;
    padding: 20px 25px;
}
.accordion a::after {
    width: 8px;
    height: 8px;
    border-right: 1px solid #222;
    border-bottom: 1px solid #222;
    position: absolute;
    right: 25px;
    content: " ";
    top: 30px;
    transform: rotate(-45deg);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.accordion p {
    /*font-size: 13px;*/
    /*font-size: 0.8125rem;*/
    line-height: 2;
    padding: 10px;
}
.accordion a.active:after {
    transform: rotate(45deg);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}


/*Author header*/
.profile-header{
    margin-bottom: 50px;
}
#author-header {
    margin-bottom: -150px;
    padding: 15px;
}
#author-header img {
    width: 100%;
}
.author-avatar {
    margin-top: 45px;
    margin-bottom: 15px;
}
.author-avatar img {
    width: 150px;
    height: 150px;
    border-width: 6px;
    border-style: solid;
    border-color: #ffffff;
}
.author-name {
    font-size: 28px;
    color: #5b4d6f;
    font-weight: 600;
        margin-bottom: 20px;
}
@media(max-width: 767px){
    #author-header {
        margin-bottom: -95px;
    }
    .author-avatar img {
        width: 120px;
        height: 120px;
    }
}




.profile-info{
    margin-bottom: 70px;
}
.author-social-link .social-link {
    display: inline-block;
    margin: 0 .5em .3em 0;
    text-align: center;
    font-size: 16px;
    color: #03a9f4;
    width: 40px;
    border-radius: 50%;
    height: 40px;
    line-height: 40px;
    /* border: 1px solid #D4C3EF; */
    -moz-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
}
.author-social-link .social-link:hover {
    color: #fff;
    border-color: #03a9f4;
    background-color: #03a9f4
}
.profile-table .table,
.payment-process.table {
    font-weight: 400;
    font-size: 13px;
}
.profile-table .table td, 
.profile-table .table th,
.payment-process .table td, 
.payment-process .table th {
    border-top: 0;
    padding: .50rem;
    vertical-align: middle;
}
.profile-table .table th,
.payment-process .table th {
    background-color: #F4EFFC;
    /*font-weight: 600;*/
}


.bio-info{
    padding: 20px;
    /* border: 1px solid #DAD0EA; */
    /*-moz-box-shadow: 0px 0px 10px #E1DAED;
    box-shadow: 0px 0px 10px #E1DAED;*/
    margin-bottom: 30px;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
    border: 1px solid rgba(0,0,0,.125);
}
.deposit-info h3{

}
.dl-horizontal{
    font-size: 14px;
    color: #5b4d6f;
}
.dl-horizontal .btn {
    border-radius: 30px;
    padding: 3px 16px;
    font-size: 13px;
    color: #fff;
    -moz-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
}
.dl-horizontal dt {
    text-align: left;
    letter-spacing: .2px;
    color: #5b4d6f;
    font-weight: 700;
    width: 45%;
    float: left;
    overflow: hidden;
    clear: left;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.dl-horizontal dd {
    margin-left: 0;
    margin-bottom: 15px;
}
.dl-horizontal dd:before,
.dl-horizontal dd:after{
    display: table;
    content: " ";
}
.dl-horizontal dd:after{
    clear: both;
}
.dl-horizontal dd a{
    color: #03a9f4;
}
@media (min-width: 768px){
    /*    .dl-horizontal dt {
            float: left;
            overflow: hidden;
            clear: left;
            text-overflow: ellipsis;
            white-space: nowrap;
        }*/
    .dl-horizontal dd {
        margin-left: 131px;
    }
}
@media (min-width: 1200px){
    .bio-info {
        padding: 25px;
    }
    ..deposit-info{
        padding: 40px;
    }
    .dl-horizontal dt {
        width: 45%;
    }
    .dl-horizontal dd {
        margin-left: 150px;
    }
}
/* Authenticator ------------*/
.authenticator, .profile-verify, .password_change-content {
    box-shadow: 0px 0px 10px #E1DAED;
    padding: 20px;
    margin: 15px;
}
.authenticator h5 {
    font-size: 17px;
    margin-bottom: 10px;
    font-weight: 600;
}
.qr-code-scan {
    text-align: center;
    margin: 40px 0;
}
.qr-code {
    text-align: center;
    margin: 40px 0;
    font-size: 23px;
    font-weight: 600;
}
.authenticator .btn{
    -moz-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
}
@media(min-width: 768px){
    .authenticator,
    .profile-verify, .password_change-content{
        width: 500px;
    }
    .authenticator, .profile-verify, .password_change-content {
        margin: 50px auto;
        padding: 25px;;
    }
}
/* Payment process ------------*/
.payment-process-content{
    padding: 70px 0;
}
.confirm-withdraw,
.confirm-transfer {
    margin: 70px auto;
    padding: 50px 40px;
    border-radius: 10px;
    box-shadow: 0 5px 30px 0 rgba(0,0,0,.05);
    font-size: 16px;
    font-weight: 500;
}
.confirm-withdraw dl dt {
    font-weight: 500;
}
.confirm-withdraw dl dd{
    color: #747375
}
.invoice{
    padding: 70px 0;
}
.invoice .table-responsive .table-bordered {
    border: 1px solid #EBE4F6;
}
.invoice .table {
    font-size: inherit;
    font-weight: inherit;
}
.invoice .table td,
.invoice .table th {
       padding: .75rem;
}
.btn-copy-B{
  border:1px solid rgba(0,0,0,.125);;
  background-color: transparent;
  color: #a2a2a2;
  font-size: 16px;
  margin-left: 5px;
  border-radius:0;
}
.form-control.inpyB{
    border-color:rgba(0,0,0,.125);;
}
label.labelcpy{
  margin-right: 15px;
}
.text-center > span {
    font-size: 0.8rem !important;
}
.ads_bottom {
    margin-top: 10px;
    width: 208px;
    height: 178px;
}